.ticker-search-1 {
    width: 50%;
    height: 50%;
    background-color: #50505d;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    margin-right: 5px;
    margin-top: 10px;
    position: relative;
}


.cash-container {
    margin-left: 40px;
    width: 44%;
}

.search-result-item {
    color: #20ce9a;
    padding: 10px;
}

.search-res-cont {
    position: absolute;
    background-color: #41414c;
    width: 188px;
    border-radius: 3px;
    top: 150px;
    z-index: 4;
}

.search-result-item:hover {
    background-color: rgb(77, 77, 77);
    cursor: pointer;
}

.cash-available-text {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.form-cont {
    display: flex;
    flex-direction: column;
}

.input-class {
    display: flex;
    flex-direction: row;
}

.company-name-text {
    color: white;
    font-weight: bold;
    font-size: 32px;
    margin-top: 15px;
}

.stock-price-odometer { 
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.day-text {
    margin-left: 47%;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 10%;
}


.graph-tooltip {
    font-size: 12px;
    opacity: 0.6;
  }

.graph-container {
    width: 100%;
    height: 200px;
}

.percent-odo {
    display: flex;
    color: white;
}

.graph-change {
    margin-right: 10px;
}

.buy-container {
    margin-top: 20px;
    width: 45%;
    background-color: rgb(26, 26, 26);
    height: 100px;
}

.buy-button {
    
        color: #494949 !important;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        background: #ffffff;
        padding: 20px;
        border: 2px solid #000000 !important;
        display: inline-block;
        transition: all 0.4s ease 0s;
    
}

.buy-button:hover {
    color: #ffffff !important;
    background: #25b87a;
    border-color: #25b87a !important;
    transition: all 0.4s ease 0s;
    }

    .ticker-search-2 {
        width: 50%;
        height: 50%;
        background-color: #50505d;
        color: white;
        border: none;
        /* border-radius: 3px; */
        padding: 10px;
        margin-right: 5px;
        width: 108px;
        height: 30px;
        border: 2px solid;
        margin-left: 20px;
        font-size: 12px;
        font-weight: 600;
    }

