.mainpage-container {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1d;
    font-family: sans-serif;
    font-weight: 100;
    min-height: 700px;
}

.nav-container {
    display: flex;
    background-color: #1a1a1d;
    color: #20ce9a;
    padding: 20px;
    justify-content: flex-end;
    #aa {
        font-weight: 500;
        margin: 10px;
        border-right: 1px solid grey;
        padding-right: 13px;
    }

    .sign-out {
        background-color: #1e795d;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 12px;
    }
    .sign-out:hover {
        cursor: pointer;
        background-color: #2fac86;
    }
}

.text-4-links {
    color: #20ce9a;
    text-decoration: none;
}


.mid-container {
    display: flex;
}

::placeholder {
    color: white;
}