.portfolio-container {
    color: white; 
    width: 50%;
    border-right: 1px solid grey;
    height: 600px;
}

.stock-info-port {
    display: flex
}

.portfolio-stock-info-cont { 
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid grey;
    margin-top: 30px;
    width: 600px;
    margin-left: 10%;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

.portfolio-stock-info-cont > div {
    margin-left:15px; 
}

.column-names-cont {
    display:flex; 
    justify-content: space-evenly;
    text-align: center;
}


.company-name-port {
    width: 140px;
}

.port-val-total-text {
    font-weight: 600;
    font-size: 30px;
    margin-left: 10%;
    margin-bottom: 5%;
}