// Variables

$light-teal: #21ce99;
$medium-teal: #278ea5;
$medium-blue: #1f4287;
$dark-blue: #071e3d; 

.splash-form-container {
    display: flex;
}

.error-list {
    color: red;
    li {
        margin-top: 10px;
    }
}

.session-outer {
    margin-top: 5%;


    h2 {
        width: 100%;
        margin: 01.1rem 0;
        font-size: 1.5rem;
        font-weight: 700;
    }

    p {
        font-size: 12px;
        margin-top: 10px;
    }
}

.wallpaper {
    width: 50%
}

.session-outer {
    margin-left: 2.5%;
    display: flex;
    flex-direction: column;
}

input {
    background-color: #fafafa
}

input:hover {
    background-color: white;
    border: 1px solid #b9b9b9;
}

input:focus {
    background-color: white;
    border: 1px solid $light-teal;
}

.session-form > input {
    margin-top: 10px;
    width: 415px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #fafafa;
    padding-left: 10px;
}

.Sign-up-button, .login-button {
    background-color: $light-teal;
    color: white;
    font-size: 11px;
    font-weight: bold;
    max-width: 140px;
    max-height: 50px;
}

.Sign-up-button:hover, .login-button:hover {
    background-color: #28e7ae;
}

.sign-in-link, .signup-text { 
    color: $light-teal;
    
}

.demo-login-button {
    margin-top: 30px;
    background-color: teal;
    width: 128px;
    height: 30px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.demo-login-button:hover { 
    background-color: #3ad3b9;
    border: none;
}

.switch-form-link {
    font-size: 12px;
}